body {
  padding: 0;
  margin: 0;
  width: 100%;
}
header{
  display: flex;
  flex-direction: row;
}
nav{
  flex-basis: 20%;
}

.staff {
  margin: 5% 0 0 0;
}
.staff ul {
  padding: 0;
  margin: 0 0 0 0;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  flex-wrap: wrap;
}
.staff li {
  margin: 0 0 3% 0;
  width: 450px;
  height: 450px;
  position: relative;
  perspective: 1500px;
}

.staff img {
  width: 100%;
  height: 100%;
  border-radius: 4%;
}
.staff h2 {
  margin: 0 0 2% 0;
  font-size: 260%;
  font-style: oblique;
  font-weight: 500;
  text-align: center;
}
.back ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back li {
  width: auto;
  height: auto;
}
.back h1 {
  text-align: center;
}
.back {
  transform: rotateY(180deg);
  background-color: darkslategray;
  border-radius: 2%;
  color: antiquewhite;
  text-align: center;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  transition: 0.8s;
  backface-visibility: hidden;
}
.card:hover .front {
  transform: rotateY(180deg);
}
.card:hover .back {
  transform: rotateY(360deg);
}
